<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "session" %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

  <body>
    <img src="assets/landing.jpg" alt="landing image" id="landing_img"/>
    <div id="log_in">
    <div class="row">
      <div class="small-7 columns" id="login_box">
        <h2 id="heading">Log In</h2>
        <%= form_tag sessions_path do %>
          <div class="control-group">
            <%#= label_tag :email %>
            <div class="controls">
              <%= text_field_tag :email, params[:email], placeholder: 'Email'%>
            </div>
          </div>
          <br />
          <div class="control-group">
            <%#= label_tag :password %>
            <div class="controls">
              <%= password_field_tag(:password, "", placeholder: "Password") %>
            </div>
          </div>
          
          <div class="actions"><%#= submit_tag "Log In" %></div>
          <!-- <div class="actions"><input type="submit" value="Log in"> </div> -->
          <button type="submit"> <img src="assets/login.png" alt="login button" /> </button> 
          <p> Log in </p>
        <% end %>
      </div>
    </div>
    </div>
  </body>
</html>
