<h3> Inactive Items </h3>
<table>
  <tr>
    <th> Name </th>
  </tr>

  <tbody>
    <% for item in items.alphabetical %>
      <tr>
        <td> <%= item.name %> </td>
      </tr>
    <% end %>
  </tbody> 
</table>