<div class="row">
  <% if current_user.role == "manager" || current_user.role == "admin" %>
    <div class="small-12 columns">
      <% if @users.empty? %>
        <h3>No users at this time</h3>
      <% else %>
        <h3 id="center_heading">ALL USERS</h3> <hr/> <br/>
        <%= render :partial => "users_index", locals: {users: @users} %>
      <% end %>
    </div>
  <% end %>
</div>

<!-- Add a button for new users -->
<%= link_to(new_user_path, class: "button radius") do %>
  <i class="fa fa-plus"></i>
  &nbsp;Add a New User
<% end %>