<div class="row">
  <div class="small-7 columns">
    <%= render :partial => "user_details" %>
  </div>
</div>

<!-- Add buttons to list all, edit project or destroy user -->
<%= render :partial => "user_list_edit_destroy" %>