<div id="recent_purchases">
<% if @purchases.empty? %>
  <h4>No purchases at this time.</h4>
<% else %>
  <h3 style="margin-left: 37%;">RECENT PURCHASES</h3> 

  <hr /> <br />
  <table class="table table-striped" style="margin: 0px auto;">
    <thead>
      <tr>
        <th width="350">Item</th>
        <th width="150">Quantity</th>
        <th width="150">Date</th>
      </tr>
    </thead>
    <tbody>
      <% @purchases.each do |purchase| %>
        <tr>
          <td><%= link_to purchase.item.name, item_path(purchase.item), {:style=>'color: #bb892a;'} %></td>
          <td><%= purchase.quantity %></td>
          <td><%= purchase.date.strftime('%m/%d/%y') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<span style="margin: 0px auto;"><%= will_paginate @purchases, previous_label: "<&nbsp;", next_label: "&nbsp;>" %></span>

</div>
