<h3 style="margin-left: 37%;">WELCOME TO A&M</h3> <hr/><br/>
<br />
<div class="row">
	<div >
		<img style="margin-top: -20px;" src="assets/guest_home.jpg" alt="chess img" id="guest_home"/>

		<%= link_to "Explore our Products", items_path, id: "explore" %>
		<!-- <h4 id="explore"> Explore our Products </h4> -->

	</div>

</div>


