
<% if @boards.empty? && @pieces.empty? && @clocks.empty? && @supplies.empty? %>
  <h3>There are no items in the system at this time</h3>
<% else %>
  <h3 id="our_items">OUR ITEMS</h3>

  <br /><hr />

  <%= render partial: "current_items", locals: {items: @boards, item_type: "boards"}  %>

  <br /><hr />

  <%= render partial: "current_items", locals: {items: @pieces, item_type: "pieces"} %>

  <br /><hr />

  <%= render partial: "current_items", locals: {items: @clocks, item_type: "clocks"} %>

  <br /><hr />

  <%= render partial: "current_items", locals: {items: @supplies, item_type: "supplies"} %>

<% end %>