<% unless items.nil? || items.empty? %>
  <h5 id="category"><%= item_type.upcase %></h5>

  <table class="table">
    
    <tbody>
      <% if logged_in? %>
      <tr>
          <% if current_user.role == "manager" || current_user.role == "admin" %>
          <th width="100">Inventory</th>
          <% end %>
      </tr>
      <% end %>

      <tr>
      <% count = 0 %>
        <% items.each do |item| %>
          <% count += 1 %>
          <td> <p><%#= link_to image_tag(item.picture), item_path(item) %>
                  <img src="assets/board.jpg" alt="img pic" id="item_pic"/>
          </p> 
               <div id="item_description"><p><%= link_to item.name, item_path(item) %></p>
               <p id="price"><%= number_to_currency item.current_price %></p></div></td>
          <% if count % 3 == 0 %>
            <% count = 0 %>
            <tr> </tr>
          <% end %>


            <% if logged_in? %>
              <% if current_user.role == "manager" || current_user.role == "admin" %>
                <td><%= item.inventory_level %>
            </td>
              <% end %>
            <% end %>
          
        <% end %>
      </tr>
    </tbody>
  </table>
<% end %>