<% unless items.nil? || items.empty? %>
  <h5 id="category"><%= item_type.upcase %></h5>

  <table class="table">
    
    <tbody>
      <tr>
      <% count = 0 %>
        <% items.each do |item| %>
          <% count += 1 %>
          <td> <p><%#= link_to image_tag(item.picture), item_path(item) %>
                  <img src="assets/board.jpg" alt="img pic" id="item_pic"/>
          </p> 
               <div id="item_description"><p><%= link_to item.name, item_path(item) %></p>
               <p class="price"><%= number_to_currency item.current_price %></p>
               <% if logged_in? %>
                  <% if current_user.role == "manager" || current_user.role == "admin" %>
                    <p class="price"> Inventory: <%= item.inventory_level %> </p>
                  <% end %>
                <% end %>
               </div></td>
          <% if count % 3 == 0 %>
            <% count = 0 %>
            <tr> </tr>
          <% end %> 
        <% end %>
      </tr>
    </tbody>
  </table>
<% end %>