nav {
    height: 72px;
    width: 100%;
}

#navbar {
    background-color: #ffffff;
    padding-top: 17px;
    padding-bottom: 10px;
    border-bottom: 2px solid #bb892a;
    width: 100%;
    height: 72px;
    position: fixed;
    z-index: 100;
}

#logo {
    margin-right: 10px;
    margin-top: -16px;
}

#links {
    margin-top: 50%;
    margin-left: 10px;
}

#center_heading {
    margin-left: 43%;
}

#main_div {
    margin-top: 40px;
}

.field input {
  width: 200px;
}

#user_form {
    width: 45%;
    margin: 0% auto;
}

.juxtapose_l {
    float: left;
}

.juxtapose_r {
    float: right;
}

.button {
    background-color: #000000;
    width: 175px;
    margin-top: 30px;
}

footer {
    background-color: #bb892a;
    margin: 0px -0.7%;
    bottom: -50px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#footer-links {
    padding-top: 10px;
    margin-left: 30%;
    color: #4d4d4d;
}

#signature {
    margin-left: 40%;
}






