#category {
    margin-left: 46%;
    font-size: 95%;
}

.price {
    font-size: 90%;
    margin-top: -20px;
}

table {
    border: none;
    border-spacing: 30px;
}

td {
    border: 1px solid #e6e6e6;
    border-spacing: 10px;
    width: 15%;
}

#item_pic {
    margin-left: 8%;
}

#item_description {
    margin-left: 8%;
}