body {
    font-family: 'Open Sans', sans-serif;
}

#landing_img {
    width: 101%;
    height: 110%;
    filter: brightness(0.7);
    margin: -1% -5% 0% -0.2%;
}

#login_box {
    position: absolute;
    top: 20%;
    left: 40%;
    background-color: #e5e5e5;
    padding: 40px;
    border-radius: 12px;
}

#heading {
    margin-left: 25%;
    
}

button {
    padding: 0;
    border: none;
    background: none;
}